html{
	width: 100%;
	height: 100%;
}

#greet{
	width: 250px;
	height: 18px;
	border: 1px solid black;
	margin-top: 10px;
	background-color: grey;
	color: #16dfe6;
}

#myCanvas {
	border: 1px solid black;
}

#select {
	width: 20px;
}


