html{
	width: 100%;
	height: 100%;
}

#greet{
	width: 250px;
	height: 30px;
	border: 1px solid white;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	background-color: black;
	color: #00a601;
}

#myCanvas {
	border: 10px solid grey;
	padding: 0;
    margin: auto;
    display: block;
}

#select {
	width: 20px;
}

.tvControl{
    text-align: center;
}




